<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a4fc66">  <td>20/08/15 11:59:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListenerDemo.TestA(java.lang.reflect.Method)[pri:0, instance:com.sandeep.listeners.ListenerDemo@1d057a39]">TestA</td> 
  <td>main@1887813102</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>20/08/15 11:59:25</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ListenerDemo.TestB(java.lang.reflect.Method)[pri:0, instance:com.sandeep.listeners.ListenerDemo@1d057a39]">TestB</td> 
  <td>main@1887813102</td>   <td></td> </tr>
</table>
