<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SuiteForParallelTestRuns1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="968ab9">  <td>20/08/16 13:55:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun4.TestMethod1(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun4@4667ae56]">TestMethod1</td> 
  <td>TestNG-tests-4@1130092331</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>20/08/16 13:55:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun5.TestMethod1(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun5@464bee09]">TestMethod1</td> 
  <td>TestNG-tests-5@1591012970</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>20/08/16 13:55:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun3.TestMethod1(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun3@1794d431]">TestMethod1</td> 
  <td>TestNG-tests-3@675289853</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:55:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun1.TestMethod1(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun1@1d057a39]">TestMethod1</td> 
  <td>TestNG-tests-1@811018684</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>20/08/16 13:55:43</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun4.TestMethod10(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun4@4667ae56]">TestMethod10</td> 
  <td>TestNG-tests-4@1130092331</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>20/08/16 13:55:43</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun3.TestMethod10(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun3@1794d431]">TestMethod10</td> 
  <td>TestNG-tests-3@675289853</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>20/08/16 13:55:43</td>   <td>30</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun5.TestMethod10(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun5@464bee09]">TestMethod10</td> 
  <td>TestNG-tests-5@1591012970</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:55:43</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun1.TestMethod10(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun1@1d057a39]">TestMethod10</td> 
  <td>TestNG-tests-1@811018684</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>20/08/16 13:55:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun2.TestMethod11(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun2@6a41eaa2]">TestMethod11</td> 
  <td>TestNG-tests-2@820258604</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>20/08/16 13:55:43</td>   <td>21</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun2.TestMethod12(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun2@6a41eaa2]">TestMethod12</td> 
  <td>TestNG-tests-2@820258604</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>20/08/16 13:55:43</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun2.TestMethod13(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun2@6a41eaa2]">TestMethod13</td> 
  <td>TestNG-tests-2@820258604</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>20/08/16 13:55:43</td>   <td>37</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun2.TestMethod14(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun2@6a41eaa2]">TestMethod14</td> 
  <td>TestNG-tests-2@820258604</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>20/08/16 13:55:43</td>   <td>42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun2.TestMethod15(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun2@6a41eaa2]">TestMethod15</td> 
  <td>TestNG-tests-2@820258604</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>20/08/16 13:55:43</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun2.TestMethod16(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun2@6a41eaa2]">TestMethod16</td> 
  <td>TestNG-tests-2@820258604</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>20/08/16 13:55:43</td>   <td>49</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun2.TestMethod17(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun2@6a41eaa2]">TestMethod17</td> 
  <td>TestNG-tests-2@820258604</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>20/08/16 13:55:43</td>   <td>60</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun2.TestMethod18(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun2@6a41eaa2]">TestMethod18</td> 
  <td>TestNG-tests-2@820258604</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>20/08/16 13:55:43</td>   <td>115</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun2.TestMethod19(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun2@6a41eaa2]">TestMethod19</td> 
  <td>TestNG-tests-2@820258604</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>20/08/16 13:55:43</td>   <td>36</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun3.TestMethod2(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun3@1794d431]">TestMethod2</td> 
  <td>TestNG-tests-3@675289853</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>20/08/16 13:55:43</td>   <td>38</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun5.TestMethod2(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun5@464bee09]">TestMethod2</td> 
  <td>TestNG-tests-5@1591012970</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:55:43</td>   <td>38</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun1.TestMethod2(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun1@1d057a39]">TestMethod2</td> 
  <td>TestNG-tests-1@811018684</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>20/08/16 13:55:43</td>   <td>41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun4.TestMethod2(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun4@4667ae56]">TestMethod2</td> 
  <td>TestNG-tests-4@1130092331</td>   <td></td> </tr>
<tr bgcolor="bcb197">  <td>20/08/16 13:55:43</td>   <td>136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun2.TestMethod20(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun2@6a41eaa2]">TestMethod20</td> 
  <td>TestNG-tests-2@820258604</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>20/08/16 13:55:43</td>   <td>41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun3.TestMethod3(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun3@1794d431]">TestMethod3</td> 
  <td>TestNG-tests-3@675289853</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>20/08/16 13:55:43</td>   <td>43</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun5.TestMethod3(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun5@464bee09]">TestMethod3</td> 
  <td>TestNG-tests-5@1591012970</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:55:43</td>   <td>48</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun1.TestMethod3(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun1@1d057a39]">TestMethod3</td> 
  <td>TestNG-tests-1@811018684</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>20/08/16 13:55:43</td>   <td>56</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun4.TestMethod3(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun4@4667ae56]">TestMethod3</td> 
  <td>TestNG-tests-4@1130092331</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>20/08/16 13:55:43</td>   <td>46</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun3.TestMethod4(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun3@1794d431]">TestMethod4</td> 
  <td>TestNG-tests-3@675289853</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>20/08/16 13:55:43</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun5.TestMethod4(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun5@464bee09]">TestMethod4</td> 
  <td>TestNG-tests-5@1591012970</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:55:43</td>   <td>75</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun1.TestMethod4(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun1@1d057a39]">TestMethod4</td> 
  <td>TestNG-tests-1@811018684</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>20/08/16 13:55:43</td>   <td>98</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun4.TestMethod4(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun4@4667ae56]">TestMethod4</td> 
  <td>TestNG-tests-4@1130092331</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>20/08/16 13:55:43</td>   <td>53</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun3.TestMethod5(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun3@1794d431]">TestMethod5</td> 
  <td>TestNG-tests-3@675289853</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>20/08/16 13:55:43</td>   <td>70</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun5.TestMethod5(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun5@464bee09]">TestMethod5</td> 
  <td>TestNG-tests-5@1591012970</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>20/08/16 13:55:43</td>   <td>109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun4.TestMethod5(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun4@4667ae56]">TestMethod5</td> 
  <td>TestNG-tests-4@1130092331</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:55:43</td>   <td>152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun1.TestMethod5(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun1@1d057a39]">TestMethod5</td> 
  <td>TestNG-tests-1@811018684</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>20/08/16 13:55:43</td>   <td>59</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun3.TestMethod6(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun3@1794d431]">TestMethod6</td> 
  <td>TestNG-tests-3@675289853</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>20/08/16 13:55:43</td>   <td>80</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun5.TestMethod6(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun5@464bee09]">TestMethod6</td> 
  <td>TestNG-tests-5@1591012970</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>20/08/16 13:55:43</td>   <td>118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun4.TestMethod6(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun4@4667ae56]">TestMethod6</td> 
  <td>TestNG-tests-4@1130092331</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:55:43</td>   <td>159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun1.TestMethod6(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun1@1d057a39]">TestMethod6</td> 
  <td>TestNG-tests-1@811018684</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>20/08/16 13:55:43</td>   <td>84</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun5.TestMethod7(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun5@464bee09]">TestMethod7</td> 
  <td>TestNG-tests-5@1591012970</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>20/08/16 13:55:43</td>   <td>140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun3.TestMethod7(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun3@1794d431]">TestMethod7</td> 
  <td>TestNG-tests-3@675289853</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:55:43</td>   <td>170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun1.TestMethod7(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun1@1d057a39]">TestMethod7</td> 
  <td>TestNG-tests-1@811018684</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>20/08/16 13:55:43</td>   <td>209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun4.TestMethod7(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun4@4667ae56]">TestMethod7</td> 
  <td>TestNG-tests-4@1130092331</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>20/08/16 13:55:43</td>   <td>86</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun5.TestMethod8(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun5@464bee09]">TestMethod8</td> 
  <td>TestNG-tests-5@1591012970</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>20/08/16 13:55:43</td>   <td>143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun3.TestMethod8(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun3@1794d431]">TestMethod8</td> 
  <td>TestNG-tests-3@675289853</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:55:43</td>   <td>189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun1.TestMethod8(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun1@1d057a39]">TestMethod8</td> 
  <td>TestNG-tests-1@811018684</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>20/08/16 13:55:43</td>   <td>212</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun4.TestMethod8(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun4@4667ae56]">TestMethod8</td> 
  <td>TestNG-tests-4@1130092331</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>20/08/16 13:55:43</td>   <td>90</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun5.TestMethod9(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun5@464bee09]">TestMethod9</td> 
  <td>TestNG-tests-5@1591012970</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:55:43</td>   <td>192</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun1.TestMethod9(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun1@1d057a39]">TestMethod9</td> 
  <td>TestNG-tests-1@811018684</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>20/08/16 13:55:43</td>   <td>206</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun3.TestMethod9(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun3@1794d431]">TestMethod9</td> 
  <td>TestNG-tests-3@675289853</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>20/08/16 13:55:43</td>   <td>214</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelTestRun4.TestMethod9(java.lang.reflect.Method)[pri:0, instance:ParallelTestRun.ParallelTestRun4@4667ae56]">TestMethod9</td> 
  <td>TestNG-tests-4@1130092331</td>   <td></td> </tr>
</table>
