<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ParallelMethodRun</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69b199">  <td>20/08/16 13:16:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelMethod.TestMethod1(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRun.ParallelMethod@1d057a39]">TestMethod1</td> 
  <td>TestNG-test=TestofParallelMethodRun-1@422233375</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:16:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelMethod.TestMethod10(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRun.ParallelMethod@1d057a39]">TestMethod10</td> 
  <td>TestNG-test=TestofParallelMethodRun-2@1765590796</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:16:54</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelMethod.TestMethod2(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRun.ParallelMethod@1d057a39]">TestMethod2</td> 
  <td>TestNG-test=TestofParallelMethodRun-3@448784250</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:16:54</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelMethod.TestMethod3(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRun.ParallelMethod@1d057a39]">TestMethod3</td> 
  <td>TestNG-test=TestofParallelMethodRun-4@1307348768</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:16:54</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelMethod.TestMethod4(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRun.ParallelMethod@1d057a39]">TestMethod4</td> 
  <td>TestNG-test=TestofParallelMethodRun-1@422233375</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:16:54</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelMethod.TestMethod5(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRun.ParallelMethod@1d057a39]">TestMethod5</td> 
  <td>TestNG-test=TestofParallelMethodRun-4@1307348768</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:16:54</td>   <td>23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelMethod.TestMethod6(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRun.ParallelMethod@1d057a39]">TestMethod6</td> 
  <td>TestNG-test=TestofParallelMethodRun-3@448784250</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:16:54</td>   <td>27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelMethod.TestMethod7(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRun.ParallelMethod@1d057a39]">TestMethod7</td> 
  <td>TestNG-test=TestofParallelMethodRun-2@1765590796</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:16:54</td>   <td>38</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelMethod.TestMethod8(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRun.ParallelMethod@1d057a39]">TestMethod8</td> 
  <td>TestNG-test=TestofParallelMethodRun-4@1307348768</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:16:54</td>   <td>42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelMethod.TestMethod9(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRun.ParallelMethod@1d057a39]">TestMethod9</td> 
  <td>TestNG-test=TestofParallelMethodRun-3@448784250</td>   <td></td> </tr>
</table>
