<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression_Sanity</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d2e7d9">  <td>20/08/09 22:35:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClassA.Test1()[pri:0, instance:com.sandeep.TestPackage1.ClassA@29774679]">Test1</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>20/08/09 22:35:49</td>   <td>29</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClassD.Test1()[pri:0, instance:com.sandeep.TestPackage2.ClassD@68c4039c]">Test1</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>20/08/09 22:35:49</td>   <td>41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClassB.Test1()[pri:0, instance:com.sandeep.TestPackage1.ClassB@26653222]">Test1</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>20/08/09 22:35:49</td>   <td>67</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClassE.Test1()[pri:0, instance:com.sandeep.TestPackage2.ClassE@ae45eb6]">Test1</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>20/08/09 22:35:49</td>   <td>91</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClassC.Test1()[pri:0, instance:com.sandeep.TestPackage1.ClassC@3532ec19]">Test1</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/08/09 22:35:49</td>   <td>102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClassF.Test1()[pri:0, instance:com.sandeep.TestPackage2.ClassF@59f99ea]">Test1</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>20/08/09 22:35:49</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClassA.Test2()[pri:0, instance:com.sandeep.TestPackage1.ClassA@29774679]">Test2</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>20/08/09 22:35:49</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClassD.Test2()[pri:0, instance:com.sandeep.TestPackage2.ClassD@68c4039c]">Test2</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>20/08/09 22:35:49</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClassB.Test2()[pri:0, instance:com.sandeep.TestPackage1.ClassB@26653222]">Test2</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>20/08/09 22:35:49</td>   <td>73</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClassE.Test2()[pri:0, instance:com.sandeep.TestPackage2.ClassE@ae45eb6]">Test2</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>20/08/09 22:35:49</td>   <td>92</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClassC.Test2()[pri:0, instance:com.sandeep.TestPackage1.ClassC@3532ec19]">Test2</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/08/09 22:35:49</td>   <td>102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClassF.Test2()[pri:0, instance:com.sandeep.TestPackage2.ClassF@59f99ea]">Test2</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>20/08/09 22:35:49</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClassA.Test3()[pri:0, instance:com.sandeep.TestPackage1.ClassA@29774679]">Test3</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="e8b466">  <td>20/08/09 22:35:49</td>   <td>37</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClassD.Test3()[pri:0, instance:com.sandeep.TestPackage2.ClassD@68c4039c]">Test3</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>20/08/09 22:35:49</td>   <td>55</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClassB.Test3()[pri:0, instance:com.sandeep.TestPackage1.ClassB@26653222]">Test3</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>20/08/09 22:35:49</td>   <td>78</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClassE.Test3()[pri:0, instance:com.sandeep.TestPackage2.ClassE@ae45eb6]">Test3</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="8bcfcb">  <td>20/08/09 22:35:49</td>   <td>96</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClassC.Test3()[pri:0, instance:com.sandeep.TestPackage1.ClassC@3532ec19]">Test3</td> 
  <td>main@13329486</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>20/08/09 22:35:49</td>   <td>110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClassF.Test3()[pri:0, instance:com.sandeep.TestPackage2.ClassF@59f99ea]">Test3</td> 
  <td>main@13329486</td>   <td></td> </tr>
</table>
