<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69b199">  <td>20/08/16 13:36:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass1.TestMethod1(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass1@1d057a39]">TestMethod1</td> 
  <td>main@1291286504</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:36:17</td>   <td>18</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass1.TestMethod10(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass1@1d057a39]">TestMethod10</td> 
  <td>main@1291286504</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:36:17</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass1.TestMethod2(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass1@1d057a39]">TestMethod2</td> 
  <td>main@1291286504</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:36:17</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass1.TestMethod3(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass1@1d057a39]">TestMethod3</td> 
  <td>main@1291286504</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:36:17</td>   <td>43</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass1.TestMethod4(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass1@1d057a39]">TestMethod4</td> 
  <td>main@1291286504</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:36:17</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass1.TestMethod5(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass1@1d057a39]">TestMethod5</td> 
  <td>main@1291286504</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:36:17</td>   <td>52</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass1.TestMethod6(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass1@1d057a39]">TestMethod6</td> 
  <td>main@1291286504</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:36:17</td>   <td>58</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass1.TestMethod7(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass1@1d057a39]">TestMethod7</td> 
  <td>main@1291286504</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:36:17</td>   <td>63</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass1.TestMethod8(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass1@1d057a39]">TestMethod8</td> 
  <td>main@1291286504</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:36:17</td>   <td>67</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass1.TestMethod9(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass1@1d057a39]">TestMethod9</td> 
  <td>main@1291286504</td>   <td></td> </tr>
</table>
