<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.sandeep.ParallelRunClass.ParallelRunClass4</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod8</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod10</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod9</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod7</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod1</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.sandeep.ParallelRunClass.ParallelRunClass3</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod8</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod10</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod9</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod7</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod1</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.sandeep.ParallelRunClass.ParallelRunClass5</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod8</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod10</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod9</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod7</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod1</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.sandeep.ParallelRunClass.ParallelRunClass2</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod12</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod11</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod14</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod13</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod20</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod15</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod16</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod17</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod19</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod18</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.sandeep.ParallelRunClass.ParallelRunClass1</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod8</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod10</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod9</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod7</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestMethod1</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
