<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SuiteforParallelClassRun</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69b199">  <td>20/08/16 13:50:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass1.TestMethod1(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass1@14acaea5]">TestMethod1</td> 
  <td>TestNG-test=TestWithParallelClassRun-1@430159852</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>20/08/16 13:50:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass2.TestMethod11(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass2@59fa1d9b]">TestMethod11</td> 
  <td>TestNG-test=TestWithParallelClassRun-2@510967366</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>20/08/16 13:50:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass4.TestMethod1(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass4@4501b7af]">TestMethod1</td> 
  <td>TestNG-test=TestWithParallelClassRun-4@908270993</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>20/08/16 13:50:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass3.TestMethod1(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass3@28d25987]">TestMethod1</td> 
  <td>TestNG-test=TestWithParallelClassRun-3@1886483536</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>20/08/16 13:50:53</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass4.TestMethod10(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass4@4501b7af]">TestMethod10</td> 
  <td>TestNG-test=TestWithParallelClassRun-4@908270993</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>20/08/16 13:50:53</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass2.TestMethod12(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass2@59fa1d9b]">TestMethod12</td> 
  <td>TestNG-test=TestWithParallelClassRun-2@510967366</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:50:53</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass1.TestMethod10(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass1@14acaea5]">TestMethod10</td> 
  <td>TestNG-test=TestWithParallelClassRun-1@430159852</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>20/08/16 13:50:53</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass2.TestMethod13(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass2@59fa1d9b]">TestMethod13</td> 
  <td>TestNG-test=TestWithParallelClassRun-2@510967366</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>20/08/16 13:50:53</td>   <td>27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass4.TestMethod2(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass4@4501b7af]">TestMethod2</td> 
  <td>TestNG-test=TestWithParallelClassRun-4@908270993</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>20/08/16 13:50:53</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass3.TestMethod10(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass3@28d25987]">TestMethod10</td> 
  <td>TestNG-test=TestWithParallelClassRun-3@1886483536</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>20/08/16 13:50:53</td>   <td>35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass2.TestMethod14(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass2@59fa1d9b]">TestMethod14</td> 
  <td>TestNG-test=TestWithParallelClassRun-2@510967366</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>20/08/16 13:50:53</td>   <td>36</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass3.TestMethod2(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass3@28d25987]">TestMethod2</td> 
  <td>TestNG-test=TestWithParallelClassRun-3@1886483536</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>20/08/16 13:50:53</td>   <td>37</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass4.TestMethod3(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass4@4501b7af]">TestMethod3</td> 
  <td>TestNG-test=TestWithParallelClassRun-4@908270993</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:50:53</td>   <td>40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass1.TestMethod2(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass1@14acaea5]">TestMethod2</td> 
  <td>TestNG-test=TestWithParallelClassRun-1@430159852</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>20/08/16 13:50:53</td>   <td>41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass3.TestMethod3(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass3@28d25987]">TestMethod3</td> 
  <td>TestNG-test=TestWithParallelClassRun-3@1886483536</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>20/08/16 13:50:53</td>   <td>46</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass3.TestMethod4(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass3@28d25987]">TestMethod4</td> 
  <td>TestNG-test=TestWithParallelClassRun-3@1886483536</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>20/08/16 13:50:53</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass2.TestMethod15(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass2@59fa1d9b]">TestMethod15</td> 
  <td>TestNG-test=TestWithParallelClassRun-2@510967366</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>20/08/16 13:50:53</td>   <td>50</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass2.TestMethod16(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass2@59fa1d9b]">TestMethod16</td> 
  <td>TestNG-test=TestWithParallelClassRun-2@510967366</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>20/08/16 13:50:53</td>   <td>54</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass3.TestMethod5(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass3@28d25987]">TestMethod5</td> 
  <td>TestNG-test=TestWithParallelClassRun-3@1886483536</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>20/08/16 13:50:53</td>   <td>55</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass4.TestMethod4(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass4@4501b7af]">TestMethod4</td> 
  <td>TestNG-test=TestWithParallelClassRun-4@908270993</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>20/08/16 13:50:53</td>   <td>57</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass3.TestMethod6(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass3@28d25987]">TestMethod6</td> 
  <td>TestNG-test=TestWithParallelClassRun-3@1886483536</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>20/08/16 13:50:53</td>   <td>61</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass2.TestMethod17(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass2@59fa1d9b]">TestMethod17</td> 
  <td>TestNG-test=TestWithParallelClassRun-2@510967366</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:50:53</td>   <td>61</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass1.TestMethod3(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass1@14acaea5]">TestMethod3</td> 
  <td>TestNG-test=TestWithParallelClassRun-1@430159852</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>20/08/16 13:50:53</td>   <td>62</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass3.TestMethod7(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass3@28d25987]">TestMethod7</td> 
  <td>TestNG-test=TestWithParallelClassRun-3@1886483536</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:50:53</td>   <td>87</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass1.TestMethod4(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass1@14acaea5]">TestMethod4</td> 
  <td>TestNG-test=TestWithParallelClassRun-1@430159852</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>20/08/16 13:50:53</td>   <td>90</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass2.TestMethod18(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass2@59fa1d9b]">TestMethod18</td> 
  <td>TestNG-test=TestWithParallelClassRun-2@510967366</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>20/08/16 13:50:53</td>   <td>90</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass3.TestMethod8(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass3@28d25987]">TestMethod8</td> 
  <td>TestNG-test=TestWithParallelClassRun-3@1886483536</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>20/08/16 13:50:53</td>   <td>91</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass4.TestMethod5(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass4@4501b7af]">TestMethod5</td> 
  <td>TestNG-test=TestWithParallelClassRun-4@908270993</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>20/08/16 13:50:53</td>   <td>93</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass2.TestMethod19(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass2@59fa1d9b]">TestMethod19</td> 
  <td>TestNG-test=TestWithParallelClassRun-2@510967366</td>   <td></td> </tr>
<tr bgcolor="8ad7a2">  <td>20/08/16 13:50:53</td>   <td>95</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass3.TestMethod9(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass3@28d25987]">TestMethod9</td> 
  <td>TestNG-test=TestWithParallelClassRun-3@1886483536</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:50:53</td>   <td>100</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass1.TestMethod5(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass1@14acaea5]">TestMethod5</td> 
  <td>TestNG-test=TestWithParallelClassRun-1@430159852</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>20/08/16 13:50:53</td>   <td>101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass5.TestMethod1(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass5@523884b2]">TestMethod1</td> 
  <td>TestNG-test=TestWithParallelClassRun-3@1886483536</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>20/08/16 13:50:53</td>   <td>102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass2.TestMethod20(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass2@59fa1d9b]">TestMethod20</td> 
  <td>TestNG-test=TestWithParallelClassRun-2@510967366</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>20/08/16 13:50:53</td>   <td>103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass4.TestMethod6(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass4@4501b7af]">TestMethod6</td> 
  <td>TestNG-test=TestWithParallelClassRun-4@908270993</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>20/08/16 13:50:53</td>   <td>106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass5.TestMethod10(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass5@523884b2]">TestMethod10</td> 
  <td>TestNG-test=TestWithParallelClassRun-3@1886483536</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>20/08/16 13:50:53</td>   <td>109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass4.TestMethod7(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass4@4501b7af]">TestMethod7</td> 
  <td>TestNG-test=TestWithParallelClassRun-4@908270993</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:50:53</td>   <td>113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass1.TestMethod6(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass1@14acaea5]">TestMethod6</td> 
  <td>TestNG-test=TestWithParallelClassRun-1@430159852</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>20/08/16 13:50:53</td>   <td>119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass4.TestMethod8(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass4@4501b7af]">TestMethod8</td> 
  <td>TestNG-test=TestWithParallelClassRun-4@908270993</td>   <td></td> </tr>
<tr bgcolor="afa0ac">  <td>20/08/16 13:50:53</td>   <td>191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass4.TestMethod9(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass4@4501b7af]">TestMethod9</td> 
  <td>TestNG-test=TestWithParallelClassRun-4@908270993</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>20/08/16 13:50:53</td>   <td>130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass5.TestMethod2(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass5@523884b2]">TestMethod2</td> 
  <td>TestNG-test=TestWithParallelClassRun-3@1886483536</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>20/08/16 13:50:53</td>   <td>132</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass5.TestMethod3(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass5@523884b2]">TestMethod3</td> 
  <td>TestNG-test=TestWithParallelClassRun-3@1886483536</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>20/08/16 13:50:53</td>   <td>140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass5.TestMethod4(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass5@523884b2]">TestMethod4</td> 
  <td>TestNG-test=TestWithParallelClassRun-3@1886483536</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:50:53</td>   <td>141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass1.TestMethod7(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass1@14acaea5]">TestMethod7</td> 
  <td>TestNG-test=TestWithParallelClassRun-1@430159852</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:50:53</td>   <td>153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass1.TestMethod8(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass1@14acaea5]">TestMethod8</td> 
  <td>TestNG-test=TestWithParallelClassRun-1@430159852</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>20/08/16 13:50:53</td>   <td>163</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass1.TestMethod9(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass1@14acaea5]">TestMethod9</td> 
  <td>TestNG-test=TestWithParallelClassRun-1@430159852</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>20/08/16 13:50:53</td>   <td>170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass5.TestMethod5(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass5@523884b2]">TestMethod5</td> 
  <td>TestNG-test=TestWithParallelClassRun-3@1886483536</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>20/08/16 13:50:53</td>   <td>175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass5.TestMethod6(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass5@523884b2]">TestMethod6</td> 
  <td>TestNG-test=TestWithParallelClassRun-3@1886483536</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>20/08/16 13:50:53</td>   <td>179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass5.TestMethod7(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass5@523884b2]">TestMethod7</td> 
  <td>TestNG-test=TestWithParallelClassRun-3@1886483536</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>20/08/16 13:50:53</td>   <td>183</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass5.TestMethod8(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass5@523884b2]">TestMethod8</td> 
  <td>TestNG-test=TestWithParallelClassRun-3@1886483536</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>20/08/16 13:50:53</td>   <td>185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelRunClass5.TestMethod9(java.lang.reflect.Method)[pri:0, instance:com.sandeep.ParallelRunClass.ParallelRunClass5@523884b2]">TestMethod9</td> 
  <td>TestNG-test=TestWithParallelClassRun-3@1886483536</td>   <td></td> </tr>
</table>
